*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:#f4f4f4;
}
main{
    height: 80vh;
}
main>p{
    font-size: 1.5rem;
    text-align: center;
    color: #f4f4f4;
}
#selecao, #edit{
    display: flex;
    justify-content:center;
    align-items: center;
}
#selecao>span{
    color:#f4f4f4;
    font-size: 1.5rem;
}
#switch{
    display: none;
}
label[for='switch']{
    display:block;
    width: 70px;
    height: 26px;
    background-color:#477a85;
    border-radius:25px;
    cursor: pointer;
    transform: 0.5s;
    box-shadow: 0 0 10px #477a8550;
    position: relative;
    margin:10px 20px;
}
label[for='switch']::after{
    content:"";
    width: 20px;
    height: 20px;
    background-color:#e8f5f7;
    position: absolute;
    border-radius: 50px;
    top:2.5px;
    left:2.5px;
    transition:0.5s;
}
label[for='switch']:active::after{
    width: 22px;
}
#switch:checked + label[for='switch']::after{
    left: calc(100%-70px);
    transform: translateX(45px)
}
#box{
    width:370px;
    height: 370px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow:column;
    padding:50px;
}
#code{
    font-size:1rem;
    line-height: 2;
}
#copiar{
    background-color:#fff;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transition: 0.5s ease
}
#copiar:hover{
    cursor:pointer;
    background-color:#dadada;
    padding:13px 25px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5)
}
main>input[type='text']{
    width: 3rem;
    height: 2rem;
    color:#1a1a1a;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
#topLeft, #bottomLeft{
    margin-left:-3rem
}
#topRight, #bottomRight{
    margin-right:-3rem;
    float: right;
}
#edit{
    margin-top:-20px;
}
#avancado{
    margin-left:10px;
}
label[for="avancado"]{
    color:#f4f4f4;
}
.avancado{
   position: relative;
}
.right{
   float:right;
}
#topLeftWidth{
   left:-3rem;
   top:1.9rem;
}
#topRightWidth{
   right:-3rem;
   top:1.9rem;
}
#bottomLeftWidth{
   left:-3rem;
   bottom:1.9rem;
}
#bottomRightWidth{
   right:-3rem;
   bottom:1.9rem;
}
#topLeftHeight,#bottomLeftHeight{
   left:-3.35rem;
}
#topRightHeight,#bottomRightHeight{
   right:-3.35rem;
}